src/main/resources/course.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/course"
           xmlns="http://example.org/course"
           elementFormDefault="qualified">

    <xs:element name="course" type="CourseXSD"/>

    <xs:complexType name="CourseXSD">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="credit" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>